{% block title %}Fitness Assistant{% endblock %}

{% block header %}
Dodawanie posiłku
{% endblock %}

{% block content %}
  <h1>Dodawanie posiłku</h1>

  {{ error }}
	<form action="" method="post">
		
  		<table>
  			{{ add_position_form.as_table}}
  		
  		</table>
  		<input type="submit" name="form1" value="Create the account">
	</form>
	
	<form action="" method="post">		
  		<table>  			
  			{{ add_meal_form.as_table}}
  		</table>
  		<input type="submit" name="form2" value="Create the account">
	</form>
{% endblock %}

{% block footer %}

{% endblock %}
<a href="http://127.0.0.1:8000/uzytkownik">Powrót</a>